.sectionCarousel{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h4Aboout{
    color: rgb(173, 154, 45);
    text-shadow: 0 0 5px #ff5429, 0 0 10px #ff7563, 0 0 15px #ff6d63, 0 0 20px #ff8763;
    margin: 1vh;
}

.iconSVG{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 3px rgb(232, 86, 33));
}

.dataBases{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    filter: drop-shadow(3px 3px 3px rgb(232, 86, 33));
}