.divView{
    background-color: black;
    position: relative;
    left: 25vw;
    top: 5vh;
    width: 30%;
    height: 85vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
}

.data{
    display: flex;
    padding: 1rem;
}