.sectionCarousel{
    width: 80%;
    height: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: rgb(232, 86, 33) 0px 0px 20px 3px;
}

.carousel{
    padding: 1vw;
    width: 80%;
}

.slideCarousel{
    text-align: left;
    width: 80%;
}

.slideCarousel h2{
    text-align: center;
}