.articleAbout{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    flex-direction: row;
}

.backgroundIMG{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.divBtn{
    display: flex;
    flex-direction: row;
}

.btnLenguage{
    margin: 1vw;
}

.sectionAbout{
    width: 50%;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1About{
    width: 40vw;
}

.h4Aboout{
    
    width: 70%;
}

.infoAbout{
    width: 70%;
    
}
