#root {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  gap: 0;
}

.buttomPressed{
  background-color: rgb(51, 51, 51) !important;
  border: none;
  color: rgb(209, 125, 0);
  text-shadow: 0 0 5px #ff5429, 0 0 10px #ff7563, 0 0 15px #ff6d63, 0 0 20px #ff8763;
}

.showOrNot{
  display: none;
}

.show{
  display: flex;
}

.divHome{
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
  overflow-y: scroll;
}

.divScroll{
  scroll-snap-align: center;
}

.blank{
  width: 100%;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}