#root {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  gap: 0;
}

.liNav{
  font-size: 1.3vw;
  color: rgb(173, 154, 45);
  text-shadow: 0 0 5px #ff5429, 0 0 10px #ff7563, 0 0 15px #ff6d63, 0 0 20px #ff8763;
  transition: 0.5s;
  cursor: pointer;
}

.liNavTFE{
  font-size: 1.3vw;
  color: rgb(255, 98, 98);
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff1d1d, 0 0 15px #fd3636, 0 0 20px #ff4a4a;
  transition: 0.5s;
  cursor: pointer;
}

.liNavVG{
  font-size: 1.3vw;
  color: rgb(224, 106, 195);
  text-shadow: 0 0 5px #9821e8, 0 0 10px #a032e9, 0 0 15px #a54ddf, 0 0 20px #b27ed4;
  transition: 0.5s;
  cursor: pointer;
}

.liNavFBA{
  font-size: 1.3vw;
  color: rgb(45, 147, 173);
  text-shadow: 0 0 5px #1100ff, 0 0 10px #4a3dff, 0 0 15px #8279ff, 0 0 20px #b3aeff;
  transition: 0.5s;
  cursor: pointer;
}

.buttomPressed{
  background-color: rgb(51, 51, 51) !important;
  border: none;
  color: rgb(209, 125, 0);
  text-shadow: 0 0 5px #ff5429, 0 0 10px #ff7563, 0 0 15px #ff6d63, 0 0 20px #ff8763;
}

.showOrNot{
  display: none;
}

.show{
  display: flex;
}

.divHome{
  position: relative;
  width: 100%;
  height: 100vh;
}

.divScroll{
  scroll-snap-align: center;
}

.blank{
  width: 100%;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnObjectives{
  position: relative;
  margin: 2rem;
  border-radius: 10px;
  background-color: transparent;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #000000, 0 0 20px #ffffff;
}

.btnObjectivesClosed{
  position: relative;
  margin: 2rem;
  background-color: transparent;
  border: none;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #000000, 0 0 20px #ffffff;
}

.formContactMe{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slick-prev:before, .slick-next:before{
  color: rgb(232, 86, 33);
}

.divListOpen{
  width: 90%;
  height: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgb(232, 86, 33) 0px 0px 20px 3px;
}

.divListOpenTFE{
  width: 90%;
  height: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgb(255, 0, 0) 0px 0px 20px 3px;
}

.divListOpenVG{
  width: 90%;
  height: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgb(152, 33, 232) 0px 0px 20px 3px;
}

.divListOpenFBA{
  width: 90%;
  height: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgb(17, 0, 255) 0px 0px 20px 3px;
}