.articleLanding{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    flex-direction: row;
}

.backgroundIMG{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.divLeft{
    width: 50%;
}

.sectionProfile{
    width: 50%;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1Home{
    width: 40vw;
}

.divIMG{
    padding: 10px;
    position: relative;
    border-radius: 30px;
    width: 15vw;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.3s;
    &:hover{
        background-color: rgba(255, 119, 0, 0.3);
        width: 20vw;
        & .profilePicture{
            filter: none;
            width: 20vw;
        }
        & .connections{
            width: 20vw;
            & .connectionLinkedIn{
                filter: none
            }
            & .connectionGitHub{
                filter: none;
            }
        }
    }
}

.connections{
    width: 15vw;
    transition: 0.3s;
}

.connectionLinkedIn {
    filter: grayscale(100%);
    height: 50px;
    width: 50px;
    padding: 0px;
    cursor: pointer;
    border-radius: 100%;
}

.connectionGitHub {
    filter: grayscale(100%);
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 100%;
    cursor: pointer;
}

.profilePicture{
    filter: grayscale(100%);
    width: 15vw;
    border-radius: 20px;
    transition: 0.3s;
}