.articleVideogames{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    flex-direction: row;
}

.backgroundIMG{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.sectionVideogames{
    width: 50%;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1Videogames{
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #000000, 0 0 20px #ffffff;
    width: 40vw;
}

.divImgP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-align: center;
    border-radius: 10px;
}

.divImgP:hover{
    box-shadow: rgb(232, 86, 33) 0px 0px 20px 3px;
    .videogamesProjectIMG{
        filter: blur(0.2rem) brightness(40%);
        width: 45vw;
    }
    .pInfoVideogamesProject{
        display: flex;
    }
}

.link{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    transition: 0.4s;
    align-items: center;
}

.videogamesProjectIMG{
    width: 35vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    transition: 0.4s;
}

.pInfoVideogamesProject{
    color: rgb(173, 154, 45);
    text-shadow: 0 0 5px #ff5429, 0 0 10px #ff7563, 0 0 15px #ff6d63, 0 0 20px #ff8763;
    width: 30vw;
    position: absolute;
    display: none;
    transition: 0.4s;
    z-index: 1;
    font-size: larger;
}

.divRight{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h2Objectives{
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #ffffff, 0 0 20px #000000;
    width: 40vw;
}